[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: scribus-bitcs
name: Scribus
description: 
advice: 
version: 1.4.5
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
scribus-bitcs (1.4.5-1) testing; urgency=low

  * Initial package

 -- Stefan Baur <kontakt@baur-itcs.de>  Sat, 09 Jan 2016 00:07:00 +0000
